.conts {
    display: flex;
    flex-direction: row;
}
.social {
    float: left;
    width: 40%;
    text-align: center;
    align-self: center;
}

.social div {
    text-align: center;
    align-self: center;
}

hr {
    width: 300px;
}
.email {
    float: right;
    width: 60%;
}

.email form{
    display: flex;
    flex-direction: column;
}
.email form input, textarea, .ii{
    margin: 1rem;
}

.drawer {
    max-width: 400px;
    height: max-content;
    
}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contacts {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%; /* Adjust width as needed */
    max-height: 80%; /* Adjust height as needed */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
  }
  