/* .App {
  text-align: center;
} */

.navy button img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navy button p {
  font-size: 12px;
}

.mine{
  background-color: #ffffff;

}
.navy .home{
  width: 15px;
}

.top {
  /* position: fixed; */
  z-index: 1000;
}

.top img {
  width: 100px;
  float: left; /* Optional, for older layout compatibility */
  display: flex; /* Use flexbox */
  justify-content: flex-end; /* Align items to the end of the flex container */
  flex-direction: row; /* Default value for flex-direction is 'row', so 'initial' isn't necessary */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
